$box-shadowcolor:rgb(170, 170, 170);
$inputcolor:#4a4a4a;

.container{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-direction: column;
    margin: 3rem;
    border: .008rem solid  $box-shadowcolor;
    box-shadow: .004rem  .004rem .5rem  $box-shadowcolor;
    margin-top: 5rem;
    h4{
        font-size: 1.5rem;
        color:#3a548c;
        margin: 1rem;
        
    }
    .form-control{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 2rem;

        
        input[type="text"],textarea{
            width:80%;
            padding: 1rem;
            margin-bottom: .5rem;
            color:$inputcolor;
            
            &:focus{
                outline: none;
            }
        }
        Button{
            margin: 1rem;
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            font-size: .7rem;
            
            .circleaddicon{
                font-size: 1.5rem;
                
            }
        }
        
    }
}